.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-headerx {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* From Portfolio 2 */

:root {
  --red: #FF0000;
  --green: #688E26;
  --blue: #114B5F;
  --purple: #42033D;
  --dark: #1A090D;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
  background-color: whitesmoke;
  /* font-family: 'Six Caps', sans-serif; */
  }
h1, h2, p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  color: var(--green);
  font-size: 4rem;
}

h1 span {
  font-family: 'Six Caps', sans-serif;
  color: var(--red);
  display: block;
  font-size: 5.5rem;
  letter-spacing: .2em;
  }

.welcome h1::before,
.welcome h1::after {
  content: "";
  display: block;
  margin:auto;
  width: 60%;
  height: 1px;
  background-color: #1A090D;
  
}
h1::before {
  margin: 0 auto 2em;
}
h1::after {
  margin: 2em auto 0;
}

h2 {
  font-family: 'Six Caps', sans-serif;
  color: var(--dark);
  display: block;
  font-size: 2rem;
  letter-spacing: .3em;
  }

.welcome {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  }

.welcome::before {
  content: "";
  background-image: url("./assets/images/lanterns.jpeg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .3;
  }

.welcome h1 {
  font-size: 2.0rem;
  font-weight: 400;
}

 .intro {
  display:grid;
  grid-template-columns: minmax(4em,1fr) minmax(auto, 30em) minmax(4em,1fr);
  color: white;
}
.intro h2 {
  color: var(--red);
  font-size: 4rem;
}

@media (min-width: 1200px) {
  .intro h2 {
      font-size: 2.5rem;
      color: var(--red);
  }
}

.intro h2::after {
  content: "";
  width: 60%;
  height: 1px;
  background: white;
  display: block;
  margin: 1em auto 0;
}

.intro-middle {
  background: #1A090D;
  padding: 2.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

.intro-left img,
.intro-right img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}

.about-me {
  display: grid;
  grid-template-columns: [port-start] minmax(6em,1fr) [name-start] minmax(6em,1fr) [img-end] 2fr [port-end];
  margin: 5em 4em 5em 4em;
}
.about-img {
  max-width: 80%;
  grid-column: port-start / img-end;
  grid-row: 1 / 2;
}

.about-title {
  grid-column: name / port;
  grid-row: 1 / 2;
  align-self: flex-end;
}
.about-subtitle,
.about-text {
  grid-column: port / port;
  font-size: 2rem;
}
.about-subtitle {
  margin: .5em 0;
  font-size: 3.5rem;
}

.portfolio-item img {
  /* max-height: 20%; */
  /* width: 100vw; */
  /* height: auto; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
}

.portfolio {
  text-align: center;
  background-color: lightgrey;
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding-top: 5em;
}
.portfolio h1 {
  color: var(--dark);
}
.portfolio-item {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  /* flex: 1 1 10rem; */
  }
img {
  display: block;
  width: 100%;
  }
.portfolio-item figcaption {
  position: absolute;
  top: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 1.3em;
  background: rgba(255,0,0,.75);
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: top ease-in-out 250ms;
  }
.portfolio-item:hover figcaption,
.portfolio-item:focus figcaption {
  top: 0px;
  }

.portfolio-title {
  text-align: center;
  color:white;
  font-size: 1.0rem;
  }
.portfolio-link {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 3px solid white;
  align-self: flex-start;
}
@media (min-width: 800px) {
  .portfolio-title,
  .portfolio-link {
      font-size: 2.5rem;
      }
  }
@media (min-width: 800px) {
  .portfolio-desc {
      font-size: 1.0rem;
      }
  .portfolio-item {
    max-width: 45%;
  }    
  }

.contact {
  padding: 5em 0;
  background-color: white;
}
.contact h1 {
  text-align: center;
}
label {
  display: block;
  margin: 1em 5em 1em 1em;
  color: var(--dark)
}
input,
textarea {
  box-sizing: border-box;
  display: block;
  padding: 1em;
  width: 100%;
  background: rgba(128,128,128,.10);
  border: 1px solid lightgrey;
  font-size: 1.2rem;
}
.footer {
  background-color: var(--dark);
  padding: 5em 0;
  text-align: center;
  color: white;
}

.social-icons {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 20%;
  margin-right: auto;
}

.social-icon {
  width: 35%;
}

@media (min-width: 800px) {
  .social-icon {
      width: 25%;
  }
}
@media (min-width: 1200px) {
  .social-icon {
      width: 20%;
  }
}

.resume {
  color: white;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 2em;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .resume {
      font-size: 1.5em;
      /* color: var(--red); */
   }
}